---
layout: default
title: Jose Camou
---
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
    {% include _content--overview.html %}
  </div>
  <div class="tab-pane fade" id="keyword-rankings" role="tabpanel" aria-labelledby="keyword-rankings-tab">
    {% include _content--keyword-rankings.html %}
  </div>
  <div class="tab-pane fade" id="easy-wins" role="tabpanel" aria-labelledby="easy-wins-tab">
    {% include _content--easy-wins.html %}
  </div>
  <div class="tab-pane fade" id="anchor-text-profile" role="tabpanel" aria-labelledby="anchor-text-profile-tab">
    {% include _content--anchor-text-profile.html %}
  </div>
  <div class="tab-pane fade" id="keyword-research" role="tabpanel" aria-labelledby="keyword-research-tab">
    {% include _content--keyword-research.html %}
  </div>
  <div class="tab-pane fade" id="competitor-analysis" role="tabpanel" aria-labelledby="competitor-analysis-tab">
    {% include _content--competitor-analysis.html %}
  </div>
</div>