<div class="header__section">
  <h1>Keyword Research</h1>
  <p>These are the key terms that we have found relating to your niche that are currently trending. These are great to build content around!</p>
</div>
<div class="row mb-5">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="panel">
      <div class="panel__metric-heading mb-2">Potential Keywords</div>
      <div class="panel__metric">51</div>
    </div>
  </div>
</div>
<div class="clearfix mb-2">
  <a class="float-right link__action text__lh--18" data-toggle="collapse" href="#collapseKeywordResearch" role="button" aria-expanded="false" aria-controls="collapseKeywordResearch">
    <i class="material-icons md-18 float-left mr-2">help_outline</i>
    What do the columns mean?
  </a>
</div>
<div class="collapse" id="collapseKeywordResearch">
  <hr>
  <div class="container">
    <div class="text__font-size--18 mb-4">Column Definitions</div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Keyword</div>
        <p class="text__font-size--12">The word/phrase you are ranking for in Google.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Volume</div>
        <p class="text__font-size--12">Total searches per month.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Difficult</div>
        <p class="text__font-size--12">Competition level from 0 - 100 with 100 being the most competitive.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">CPC</div>
        <p class="text__font-size--12">Estimated Cost Per Click value.</p>
      </div>
    </div>
  </div>
  <hr class="mb-5">
</div>
<div class="table-responsive">
  <table class="table table-sm hoth-tables">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th class="text__align--right" scope="col">Volume</th>
        <th class="text__align--right" scope="col">Difficulty</th>
        <th class="text__align--right" scope="col">CPC</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>personal loan lead generator</td>
        <td class="text__align--right">4,128</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">0.98</td>
      </tr>
      <tr>
        <td>personal loan lead generator</td>
        <td class="text__align--right">4,128</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">0.98</td>
      </tr>
      <tr>
        <td>personal loan lead generator</td>
        <td class="text__align--right">4,128</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">0.98</td>
      </tr>
    </tbody>
  </table>
</div>