<div class="header__section">
  <h1>SEO Campaign Report</h1>
  <div class="text__lh--26">
    <i class="material-icons float-left mr-2">domain</i>
    <span class="text--med">thehoth.com</span>   
    <span class="ml-2 mr-2">•</span>
    <span>Created on Sept 7, 2018 </span>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
    <div class="panel__instructions panel__instructions--blue clearfix">
      <div class="panel__icon-container">
        <i class="material-icons md-light">chat</i>
      </div>
      <div class="panel__text-container">
        <div class="text__font-size--14 text--bold">Welcome to your Campaign Report</div>
        <div class="text__font-size--14">We’ve created an SEO strategy based on the information you gave us to help you get to the top of your search. Each step is broken down in the sections below.</div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
    {% include _panel--info.html %}
  </div>
</div>

<div class="step__divider-container mb-5">
  <div class="text__heading--uppercase step__divider-heading text__color--gray-dark">Audit Stage</div>
  <hr class="step__divider">
  <p class="text__font-size--14">We’ve taken the information you provided us to conduct an audit of your keywords, traffic, backlinks, etc.. </p>
</div>


<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    {% include _panel--keyword-rankings.html %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-5">
    {% include _panel--anchor-text-profile.html %}
  </div>
</div>

<div class="step__divider-container mb-5">
  <div class="text__heading--uppercase step__divider-heading text__color--gray-dark">Strategy Stage</div>
  <hr class="step__divider">
  <p class="text__font-size--14">Based on the initial audit, we’ve layed out some plans to help you make the most out of the services. Click into each section to learn more. </p>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    {% include _panel--easy-wins.html %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    {% include _panel--competitor-analysis.html %}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
    {% include _panel--keyword-research.html %}
  </div>
</div>
