<div class="header__section">
  <h1>Competitor Analysis</h1>
  <p>A Competitor Analysis shows all of the keywords your competitors are currently ranking for which you are not ranking for. This can help find new keywords to target with content on your website.</p>
</div>
<div class="row mb-5">
  <div class="col-sm-12 col-md-3 col-lg-3">
    <div class="panel">
      <div class="panel__metric-heading mb-2">Targetable Keywords</div>
      <div class="panel__metric">51</div>
    </div>
  </div>
  <div class="col-sm-12 col-md-9 col-lg-9">
    <div class="card panel">
       <div class="panel__metric-heading mb-2">Targetable Keywords by Competitors</div>

      <div class="h-bar__container mb-4">
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 45%"></div>
          <div class="h-bar__row-title">posirank.com</div>
          <div class="h-bar__row-amount">14</div>
        </div>
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 25%"></div>
          <div class="h-bar__row-title">ubshout.com</div>
          <div class="h-bar__row-amount">10</div>
        </div>
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 5%"></div>
          <div class="h-bar__row-title">backlinko.com</div>
          <div class="h-bar__row-amount">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix mb-2">
  <a class="float-right link__action text__lh--18" data-toggle="collapse" href="#collapseCompetitiveGapAnalysisDef" role="button" aria-expanded="false" aria-controls="collapseCompetitiveGapAnalysisDef">
    <i class="material-icons md-18 float-left mr-2">help_outline</i>
    What do the columns mean?
  </a>
</div>
<div class="collapse" id="collapseCompetitiveGapAnalysisDef">
  <hr>
  <div class="container">
    <div class="text__font-size--18 mb-4">Column Definitions</div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Keyword</div>
        <p class="text__font-size--12">The word/phrase you are ranking for in Google.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Volume</div>
        <p class="text__font-size--12">Total searches per month.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Difficulty</div>
        <p class="text__font-size--12">Competition level from 0 - 100 with 100 being the most competitive.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">CPC</div>
        <p class="text__font-size--12">Estimated Cost Per Click value.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="text__font-size--12 text--bold">Competitor [x]</div>
        <p class="text__font-size--12">Competitors position on the given keywords.</p>
      </div>
    </div>
  </div>
  <hr class="mb-5">
</div>
<div class="table-responsive">
  <table class="table table-sm hoth-tables">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th class="text__align--right" scope="col">Volume</th>
        <th class="text__align--right" scope="col">Difficulty</th>
        <th class="text__align--right" scope="col">CPC</th>
        <th class="text__align--right" scope="col">
          <div class="text--bold">Competitor 1</div>
          <div class="text--regular text__font-size--12 text__color--gray text__transform--none">nerdwallet.com</div>
        </th>
        <th class="text__align--right" scope="col">
          <div class="text--bold">Competitor 2</div>
          <div class="text--regular text__font-size--12 text__color--gray text__transform--none">nerdwallet.com</div>
        </th>
        <th class="text__align--right" scope="col">
          <div class="text--bold">Competitor 3</div>
          <div class="text--regular text__font-size--12 text__color--gray text__transform--none">nerdwallet.com</div>
        </th>
        <th class="text__align--right" scope="col">
          <div class="text--bold">Competitor 4</div>
          <div class="text--regular text__font-size--12 text__color--gray text__transform--none">nerdwallet.com</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>capitol one</td>
        <td class="text__align--right">7,260,000</td>
        <td class="text__align--right">49</td>
        <td class="text__align--right">0.6</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">--</td>
      </tr>
      <tr>
        <td>capitol one</td>
        <td class="text__align--right">7,260,000</td>
        <td class="text__align--right">49</td>
        <td class="text__align--right">0.6</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">--</td>
      </tr>
      <tr>
        <td>capitol one</td>
        <td class="text__align--right">7,260,000</td>
        <td class="text__align--right">49</td>
        <td class="text__align--right">0.6</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">--</td>
      </tr>
      <tr>
        <td>capitol one</td>
        <td class="text__align--right">7,260,000</td>
        <td class="text__align--right">49</td>
        <td class="text__align--right">0.6</td>
        <td class="text__align--right">1</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">66</td>
        <td class="text__align--right">--</td>
      </tr>
    </tbody>
  </table>
</div>