<div class="panel panel--blue">
  <div class="panel__title">Top Keyword
    <div class="text__font-size--12">By estimated traffic</div>
  </div>

   <table class="table table-sm hoth-tables--dark hoth-tables--simple">
    <thead>
      <tr>
        <th scope="col">Keyword</th>
        <th scope="col" class="text__align--right">Position</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>bad credit loans</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>loans for people with bad credit</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>payday loans no credit check</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>installment loans for bad credit</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>personal loans for bad credit</td>
        <td class="text__align--right">3</td>
      </tr>
    </tbody>
  </table>
  <a href="/keyword-rankings" class="text__font-size--14 link--white">See all keywords</a>
</div>