<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">2</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Keyword Rankings</div>
        <p class="text__font-size--14">This shows all the keywords your website currently ranks for. This can give you an idea of how well your SEO is performing.</p>
        <a class="link__action float-left text__lh--18" href="#anchor-text-profile">
          Dive In
          <i class="material-icons md-18 float-right ml-2">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="panel__metric-heading mb-2">Total Keywords</div>
      <div class="panel__metric">6,394</div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-6">
      <div class="panel__metric-heading mb-2">Keywords by Position</div>
      <canvas id="keywordsByPosition" style="height: 200px;"></canvas>
    </div>
  </div>
</div>