<div class="panel">
  <div class="panel__title">Top Anchors
    <div class="text__font-size--12">By referred domains</div>
  </div>

   <table class="table table-sm hoth-tables--simple">
    <thead>
      <tr>
        <th scope="col">Anchor Text</th>
        <th scope="col" class="text__align--right">Referring Domains</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Anchor Text</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>Anchor Text 2</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>Anchor Text 3</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>Anchor Text 4</td>
        <td class="text__align--right">1</td>
      </tr>
      <tr>
        <td>Anchor Text 5</td>
        <td class="text__align--right">3</td>
      </tr>
    </tbody>
  </table>
  <a href="/keyword-rankings" class="text__font-size--14 link--white">See all keywords</a>

</div>