<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">4</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Easy Wins</div>
        <p class="text__font-size--14">These are valuable keywords that you are currently ranking for, just not at the top. By optimizing these keywords & pages, you can get quicker traffic boosts!</p>
        <a class="link__action float-left text__lh--18" href="#anchor-text-profile">
          Dive In
          <i class="material-icons md-18 float-right ml-2">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="panel__metric-heading mb-2">Total Easy Wins</div>
      <div class="panel__metric">29</div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-6">
      <div class="panel__metric-heading mb-2">Easy Wins by Position</div>
      <canvas id="easyWinsByPosition" style="height: 200px;"></canvas>

    </div>
  </div>
</div>