<div class="panel">
  <div class="panel__title">Anchor Text Ratio</div>
  <div class="panel__metric-container clearfix">
    <div class="float-left text__color--blue">
        <div class="panel__metric">75%</div>
        <div class="text__font-size--12">Exact Match</div>
    </div>
    <div class="float-right text__align--right text__color--orange">
        <div class="panel__metric">25%</div>
        <div class="text__font-size--12">Natural Links</div>
    </div>
  </div>
  <div class="pc pc--thick">
    <div class="pc__item-column" style="width: 75%;"></div>
    <div class="pc__item-column--right" style="width: 25%;"></div>
  </div>
</div>