<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">5</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Competitor Analysis</div>
        <p class="text__font-size--14">A Competitor Analysis shows all of the keywords your competitors are currently ranking for which you are not ranking for. This can help find new keywords to target with content on your website.</p>
        <a class="link__action float-left text__lh--18" href="#anchor-text-profile">
          Dive In
          <i class="material-icons md-18 float-right ml-2">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="panel__metric-heading mb-2">Targetable Keywords</div>
      <div class="panel__metric">89</div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-6">
      <div class="panel__metric-heading mb-2">Targetable Keywords by Competitors</div>

      <div class="h-bar__container">
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 45%"></div>
          <div class="h-bar__row-title">posirank.com</div>
          <div class="h-bar__row-amount">14</div>
        </div>
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 25%"></div>
          <div class="h-bar__row-title">ubshout.com</div>
          <div class="h-bar__row-amount">10</div>
        </div>
        <div class="h-bar__row">
          <div class="h-bar__background" style="width: 5%"></div>
          <div class="h-bar__row-title">backlinko.com</div>
          <div class="h-bar__row-amount">5</div>
        </div>
      </div>

    </div>
  </div>
</div>