<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">1</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Information</div>
        <p class="text__font-size--14">This is the information you provided us. We used this to compile the rest of the report.</p>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="text__font-size--12 text--bold mb-2">Domain</div>
      <ul class="simple-list--no-dots text__font-size--14">
        <li class="mb-1">thehoth.com</li>
      </ul>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-3">
      <div class="text__font-size--12 text--bold mb-2">High Priority Keywords</div>
      <ul class="simple-list--no-dots text__font-size--14">
        <li class="mb-1">Managed SEO</li>
        <li class="mb-1">White Label SEO</li>
        <li class="mb-1">SEO Reseller</li>
      </ul>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-3">
      <div class="text__font-size--12 text--bold mb-2">Top Competitors</div>
      <ul class="simple-list--no-dots text__font-size--14">
        <li class="mb-1">posirank.com</li>
        <li class="mb-1">hubshout.com</li>
        <li class="mb-1">backlinko.com</li>
      </ul>
    </div>
  </div>
</div>