<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">6</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Keyword Research</div>
        <p class="text__font-size--14">These are keywords that we have validated based on your inputs. These are great for optimizing your current pages or creating new content.</p>
        <a class="link__action float-left text__lh--18" href="#anchor-text-profile">
          Dive In
          <i class="material-icons md-18 float-right ml-2">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="panel__metric-heading mb-2">Potential Keywords</div>
      <div class="panel__metric">58</div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-3">

    </div>
  </div>
</div>