<div class="panel">
  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4">
      <div class="step__number">3</div>
      <div class="step__description">
        <div class="text__heading--uppercase mb-2">Anchor Text Profile</div>
        <p class="text__font-size--14">Anchor Text refers to the clickable text in a link. Best practice is to have a variety of different types to prevent over optimization, including exact match, partial match, and natural anchors.</p>
        <a class="link__action float-left text__lh--18" href="#anchor-text-profile">
          Dive In
          <i class="material-icons md-18 float-right ml-2">arrow_forward</i>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-2">
      <div class="panel__metric-heading mb-2">Total Backlinks</div>
      <div class="panel__metric">924</div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-6">
      <div class="panel__metric-heading panel__metric-heading--border mb-4">Potential Overly Optimized Anchors</div>

      <div class="notification notification--error">
        <div class="notification__img-container">
          <div class="notification__img"></div>
        </div>
        <div class="notification__text-container">
          <div class="text__font-size--14 text--bold mb-2">You are over optimized</div>
          <p class="text__font-size--14">It looks like we found some anchor texts with <strong>backlinks of 6% or higher</strong>. Google tends to penalize for this. Let's focus on fixing this.</p>
        </div>
      </div>

      <div class="notification notification--success">
        <div class="notification__img-container">
          <div class="notification__img"></div>
        </div>
        <div class="notification__text-container">
          <div class="text__font-size--14 text--bold mb-2">No Over-Optimization Detected</div>
          <p class="text__font-size--14">Great job! All your anchor texts fall under 6%. That means we can focus on your <strong>Easy Wins.</strong></p>
        </div>
      </div>
      
    </div>
  </div>
</div>