<div class="panel">
  <div class="panel__title">Domain Authority</div>

  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4 pt-2 pb-5">
      <div class="panel__metric-container clearfix">
          <div class="panel__metric float-left mr-3">79</div>
        </div>
        <div class="panel__fine-print">A Domain Authority score ranges from one to 100, with higher scores corresponding to a greater ability to rank.
        </div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-8">
      <canvas id="totalTrafficChart"></canvas>
    </div>
  </div>
</div>