<div class="panel">
  <div class="panel__title">Traffic By Country
    <div class="text__font-size--12">Auguest 2018</div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <ul class="simple-list--no-dots">
        <li>
          <div class="pc__label-row pc__label-row--small">
            <span class="flag-icon flag-icon-us mr-2"></span>
            <div class="pc__label-item pc__label-item--name">United States</div>
            <div class="pc__label-item text__color--gray">88.57%</div>
            <div class="pc__label-item float-right">15.4k</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 75%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <span class="flag-icon flag-icon-ca mr-2"></span>
            <div class="pc__label-item pc__label-item--name">Canada</div>
            <div class="pc__label-item text__color--gray">9.35%</div>
            <div class="pc__label-item float-right">1.6k</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column pc__background--orange" style="width: 45%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <span class="flag-icon flag-icon-in mr-2"></span>
            <div class="pc__label-item pc__label-item--name">India</div>
            <div class="pc__label-item text__color--gray">1.06%</div>
            <div class="pc__label-item float-right">184</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <span class="flag-icon flag-icon-ro mr-2"></span>
            <div class="pc__label-item pc__label-item--name">Romania</div>
            <div class="pc__label-item text__color--gray">0.84%</div>
            <div class="pc__label-item float-right">145</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <span class="flag-icon flag-icon-ru mr-2"></span>
            <div class="pc__label-item pc__label-item--name">Russia</div>
            <div class="pc__label-item text__color--gray">0.18%</div>
            <div class="pc__label-item float-right">32</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>