<div class="panel">
  <div class="panel__title">Traffic Sources</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel__metric">229</div>
      <div class="panel__trend"></div>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-4 pb-4">
      
      <ul class="simple-list--no-dots">
        <li>
          <div class="pc__label-row pc__label-row--small">
            <div class="pc__label-item pc__label-item--name">Search</div>
            <div class="pc__label-item text__color--gray">75%</div>
            <div class="pc__label-item float-right">16k</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 75%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <div class="pc__label-item pc__label-item--name">Referral</div>
            <div class="pc__label-item text__color--gray">45%</div>
            <div class="pc__label-item float-right">11k</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column pc__background--orange" style="width: 45%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <div class="pc__label-item pc__label-item--name">Direct</div>
            <div class="pc__label-item text__color--gray">0%</div>
            <div class="pc__label-item float-right">0</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <div class="pc__label-item pc__label-item--name">Social</div>
            <div class="pc__label-item text__color--gray">0%</div>
            <div class="pc__label-item float-right">0</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        <li>
          <div class="pc__label-row pc__label-row--small">
            <div class="pc__label-item pc__label-item--name">Paid</div>
            <div class="pc__label-item text__color--gray">0%</div>
            <div class="pc__label-item float-right">0</div>
          </div>
          <div class="pc pc--thin mb-3">
            <div class="pc__item-column" style="width: 0%;"></div>
          </div>
        </li>
        
      </ul>
    </div>
    <div class="col-sm-12 col-med-6 col-lg-8">
      <canvas id="trafficSourcesChart" width="auto" height="175px"></canvas>
    </div>

  </div>
</div>