<div class="side-bar">
  <header class="header__main">
    <div class="text__font-size--18 text__color--white text--bold mb-1">SEO Campaign Report</div>
    <a href="https://bonsaifinance.com/" class="text__lh--18">
      <i class="material-icons md-18 float-left mr-2">domain</i>
      bonsaifinance.com
    </a>
  </header>

  <nav class="navbar">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Campaign Overview</a>
      </li>
      <div class="step__divider-container step__divider-container--nav">
        <div class="text__heading--uppercase step__divider-heading text__color--blue">Audit Stage</div>
        <hr class="step__divider">
      </div>
      <li class="nav-item">
        <a class="nav-link" id="keyword-rankings-tab" data-toggle="tab" href="#keyword-rankings" role="tab" aria-controls="keyword-rankings" aria-selected="false">Keyword Rankings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="anchor-text-profile-tab" data-toggle="tab" href="#anchor-text-profile" role="tab" aria-controls="anchor-text-profile" aria-selected="false">Anchor Text Profile</a>
      </li>
      <div class="step__divider-container step__divider-container--nav">
        <div class="text__heading--uppercase step__divider-heading text__color--blue">Strategy Stage</div>
        <hr class="step__divider">
      </div>
      <li class="nav-item">
        <a class="nav-link" id="easy-wins-tab" data-toggle="tab" href="#easy-wins" role="tab" aria-controls="easy-wins" aria-selected="false">Easy Wins</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="competitor-analysis-tab" data-toggle="tab" href="#competitor-analysis" role="tab" aria-controls="competitor-analysis" aria-selected="false">Competitor Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="keyword-research-tab" data-toggle="tab" href="#keyword-research" role="tab" aria-controls="keyword-research" aria-selected="false">Keyword Research</a>
      </li>
    </ul>
  </nav>
</div>

