/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html, body {
  font-family:            $font-family;
  color:                  $color__black--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}


body {
	background-color: #FBFBFB;
  
  @media print {
    background-color: white;
  }
}

// Divder
.divider__thick {
  border-top: 2px solid $color__gray--med;
  margin-bottom: 40px;
}