/*------------------------------------*\
    #ATTACHMENT-PANEL
\*------------------------------------*/

.attachment-panel {
  display         : block;
  position        : relative;
  min-width       : 0;
  word-wrap       : break-word;
  padding         : 1em;
  background-color: white;
  border          : 1px solid $color__gray--light;
  border-radius   : 2px;
  box-shadow      : 0px 3px 15px 1px rgba(0, 0, 0, 0.04);
  transition      : border-color $transition;

  &:hover, &:focus {
    border-color   : $color__blue--base;
    text-decoration: none;
  }
}

.attachment-panel__title {
  font-size      : 14px;
  font-weight    : $font-weight--med;
  color          : $color__blue--base;
  text-decoration: none;
}

.attachment-panel__subscript {
  font-size: 12px;
  color    : $color__gray--dark;
}