/*------------------------------------*\
    #SECTIONS
\*------------------------------------*/

section {
  @media print {
    page-break-before: always;
  }
}

.section__print--no-break {
  @media print {
    page-break-before: avoid !important;
  }
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.section__bg--blue {
  background-color: $color__blue--base;
  color: white;
}

.section__bg--gray {
  // background-color: $color__gray--bg;
}

.section__bg--gray-2 {
  // background-color: $color__gray--2;
}