/*------------------------------------*\
    #HOTH-TIMELINE
\*------------------------------------*/

.hoth-timeline__item {
  padding-left: 35px;
  border-left: 1px dashed $color__gray--med;
  padding-bottom: 40px;

  >p {
    margin-bottom: 0;
  }

  &:last-of-type {
    border-left-color: transparent;
  }
}

.hoth-timeline__title-container {
  position: relative;
  margin-bottom: 4px;
}

.hoth-timeline__number {
  position        : absolute;
  left            : -50px;
  text-align      : center;
  background-color: white;
  width           : 28px;
  height          : 28px;
  border          : 2px solid $color__blue--base;
  font-size       : 14px;
  border-radius   : 20px;
  padding-top     : 2px;
  font-weight     : $font-weight--med;
  color           : $color__blue--base;
}