///*------------------------------------*\
//    #TEXT
//\*------------------------------------*/


/**
 * Font size. 
 */

.text__font-size--8 {
  font-size     : 8px;
}

.text__font-size--10 {
  font-size     : 10px;
}

.text__font-size--12 {
  font-size     : 12px;
}

.text__font-size--14 {
  font-size     : 14px !important;
}

.text__font-size--16 {
  font-size     : 16px !important;
}

.text__font-size--18 {
  font-size     : 18px !important;
}

.text__font-size--24 {
  font-size     : 24px;
}

.text__font-size--36 {
  font-size     : 36px;
}

.text__font-size--48 {
  font-size     : 48px;
}




/**
 * Font weight. 
 */

.text--regular {
  font-weight   : $font-weight--regular !important;
}

.text--med {
  font-weight   : $font-weight--med !important;
}

.text--bold {
  font-weight   : $font-weight--bold !important;
}



/**
 * Display. 
 */

.text--inline-block {
  display       : inline-block !important;
}




/**
 * Alignment. 
 */

.text__align--center {
  text-align    : center;
}

.text__align--right {
  text-align    : right;
}



/**
 * Line height. 
 */

.text__lh--2 {
  line-height   : 2rem;
}

.text__lh--16 {
  line-height: 16px;
}

.text__lh--18 {
  line-height: 18px;
}

.text__lh--26 {
  line-height: 26px;
}

.text__lh--38 {
  line-height: 38px;
}


/**
 * Font color.
 */

.text__color--gray-dark {
  color         : $color__gray--dark;
}

.text__color--gray {
  color         : $color__gray--base;
}

.text__color--gray-med {
  color: $color__gray--med;
}

.text__color--orange {
  color         : $color__orange--base;
}

.text__color--blue {
  color         : $color__blue--base;
}

.text__color--blue-dark {
  color         : $color__blue--dark;
}

.text__color--green {
  color         : $color__green--base;
}

.text__color--red {
  color         : $color__red--base;
}

.text__color--white {
  color: white;
}


/**
 * Font style.
 */

.text__font-style--italic {
  font-style    : italic;
}

 /**
  * Transforms
  */

.text__transform--none {
  text-transform: none;
}

.text__transform--capitalize {
  text-transform: capitalize;
}

.text__heading--uppercase {
  font-size: 12px;
  letter-spacing: .5px;
  font-weight: $font-weight--bold;
  text-transform: uppercase;
}