/*------------------------------------*\
    #HOTH-PILL
\*------------------------------------*/

.h-pill {
  display       : inline-block;
  font-size     : 10px;
  font-weight   : $font-weight--med;
  padding       : 2px 12px;
  letter-spacing: .5px;
  border-radius : 50px;
  vertical-align: middle;
  margin-bottom : 4px;


}

.h-pill--green {
  background-color: $color__green--base;
  color: white;

}

.h-pill--red {
  background-color: $color__red--base;
  color: white;

}