$color__black--base : #464646;


$color__red--med: #e86f69;
$color__red--base: #E1443D;
$color__red--dark: #cb271f;
$color__red--darkest: #9f1e19;

$color__blue--med   : #4A9EAA;
$color__blue--base  : #298EE9;
$color__blue--dark  : #154774;


$color__green--base: #0DB22A;
$color__green--lime: #A8F3B5;

$color__gray--light : #EDEDED;
$color__gray--med   : #D9D9D9;
$color__gray--base  : #9B9B9B;
$color__gray--dark  : #646464;

$color__orange--base: #F49742;

$color__gray--background: #FBFBFB;