///*------------------------------------*\
//    #GLOBAL
//\*------------------------------------*/



$border-radius       : 2px;

$max-width           : 1200px;
$max-width--content  : 700px;

// Type
$font-family         : 'Roboto', sans-serif;
$font-weight--regular: 300;
$font-weight--med    : 500;
$font-weight--bold   : 700;


// Box Shadows
$box-shadow          : 0px 3px 15px 1px rgba(0, 0, 0, 0.04);

// Transitioons
$transition          : 0.29s ease-in-out 0s;